body {
  background: #171B1A;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  height: 100px !important;
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 60px;
  z-index: 1002;
  transition-duration: 0.3;
}

.point {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
}

#top {
  position: relative;
  overflow: hidden;
}

.on-the-top  {
  z-index: 1001;
  position: relative;
}

header.scrolled {
  background-color: #171B1A;
  padding-top: 20px;
  top: 0px;
}

.container-fluid {
  min-height: 600px;
}

header .container-fluid {
  height: 100px !important;
}


.page {
  border-left: 20px solid #171B1A;
  border-right: 20px solid #171B1A;
}

.vertical-center {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.vertical-center > .row {
  width: 100%;
}

hr {
  border: none;
}

footer {
  padding: 100px 0px;
  background: #171B1A;
}

.jumbo {
  font-size: 74px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  line-height: 76px;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

strong {
  font-weight: 700;
}

p {
  font-size: 19px;
  line-height: 26px;
}

p.lead {
  font-size: 22px;
  line-height: 31px;
  text-align: center;
}

p.small {
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: #3A866C;
}

a:active {
  color: #ACB4B2;
}

a[href^=mailto] {
  color: #3A866C;
}

.center {
  text-align: center;
}

.logo {
  background-image: url('../images/tff-logo.png');
  background-size: cover;
  height: 58px;
  width: 104px;
}

.field {
  width: 100%;
  background: none;
  font-size: 22px;
  font-weight: 400;
  color: #646967;
  line-height: 26px;
  padding: 15px 18px 12px 0px;
  border: none;
  margin-bottom: 20px;
  border-bottom: 2px solid #646967;
}

.field:valid {
  border-bottom: 2px solid white;
  color: white;
  transition: all ease-in 0.2s;
}

.field::-webkit-input-placeholder {
  color: #646967;
  font-weight: 400;
}

.btn {
  background: #3A866C;
  font-weight: 600;
  font-size: 16px;
  border-radius: 0px;
  color: #171B1A;
  padding: 15px 18px 12px 18px;
}

.btn:hover, .btn:active, .btn:focus {
  color: #171B1A;
}

.btn:hover {
  color: #171B1A;
}

.btn:focus {
  outline: none;
}

.img-fluid {
  width: 100%;
}

.circle {
  border-radius: 50%;
  height: 0px;
  padding-top:100%;
  position: relative;
  text-align: center;
}

.circle > * {
  position:absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

.circle p {
  font-weight: 600;
  line-height: 23px;
  margin-top: 18px;
}

.floater {
  padding-bottom: 100px;
}

.pullemleft-pullemright {
  margin-left: -15px;
  margin-right: -15px;
}

.height100 {
  height: 100%;
}

.green {
  color: #3A866C;
}

.green-bg {
  background-color: #3A866C;
}

.black {
  color: #171B1A;
}

.black-bg {
  background-color: #171B1A;
}

.beige {
  background: #fbf7ef;
}

.dark-gray {
  color: #646967;
}

.gray {
  color: #ACB4B2;
}

.gray-bg {
  background-color: #ACB4B2;
}

.copyright {
  margin-top: 50px;
}

.invoices {
  background-image: url('../images/invoices.png');
  background-size: cover;
  height: 732px;
  width: 668px;
}

.sub-footer {
  opacity: 0.5;
}

textarea:focus, input:focus{
    outline: none;
}

::selection {
  background: rgba(58, 134, 109, 0.9);
  color: #171B1A;
}

::-moz-selection {
  background: rgba(58, 134, 109, 0.9);
  color: #171B1A;
}

@media screen and (max-width: 414px) {
  .page {
    border-left: 0px;
    border-right: 0px;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .logo {
    background-image: url('../images/tff-logo@2x.png');
  }
  .invoices {
    background-image: url('../images/invoices@2x.png');
  }
}
